<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/storebd?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">userstore</property>
    <property name="hibernate.connection.password">firehellish</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping class="entities.Pricepurchase"/>
    <mapping class="entities.Purchasetotal"/>
    <mapping class="entities.Cash"/>
    <mapping class="entities.Orderitem"/>
    <mapping class="entities.Purchaseitem"/>
    <mapping class="entities.User"/>
    <mapping class="entities.Owner"/>
    <mapping class="entities.Provider"/>
    <mapping class="entities.Cancelpurchaseauditorie"/>
    <mapping class="entities.Brand"/>
    <mapping class="entities.Producttype"/>
    <mapping class="entities.Provides"/>
    <mapping class="entities.Orders"/>
    <mapping class="entities.Lend"/>
    <mapping class="entities.Groupp"/>
    <mapping class="entities.Pay"/>
    <mapping class="entities.Usergroup"/>
    <mapping class="entities.Unity"/>
    <mapping class="entities.Client"/>
    <mapping class="entities.Productimage"/>
    <mapping class="entities.Purchase"/>
    <mapping class="entities.Price"/>
    <mapping class="entities.Category"/>
    <mapping class="entities.Product"/>
  </session-factory>
</hibernate-configuration>
